<!DOCTYPE html>
<html>

   <head>
      <title>IMG Get API</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/5a174075-5b55-4fb6-9ade-a35feeed6039%2Ffavicon.ico?1501315908184" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Images Get API</h1>
        <hr>
        <p>
          <b><u>Usage:</u></b>
        </p>
        <hr>
        <p>
          <b><u>Example:</u></b>
        </p>
      </div>
   </body>

</html>
